/* Estilo para el contenedor general */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo para la tarjeta contenedora */
.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 400px;
    text-align: center;
}

/* Encabezado */
h1 {
    font-size: 1.8rem;
    color: #333333;
    margin-bottom: 20px;
}

/* Input File - Ocultar el botón nativo */
input[type="file"] {
    display: none;
}

/* Botón de estilo personalizado para seleccionar archivo */
.custom-file-label {
    display: inline-block;
    width: 61%;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-file-label:hover {
    background-color: #0056b3;
}

/* Mostrar el nombre del archivo seleccionado */
#fileName {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #666;
}

/* Botón de envío */
button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

button:hover {
    background-color: #0056b3;
}

/* Mensajes de estado */
#statusMessage {
    margin-top: 15px;
    font-size: 0.9rem;
}

/* Estilo para el select */
select {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#downloadList {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el espacio izquierdo */
}
